@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #00a065;
  --primary-tint: #00d084;
  --secondary-color: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto;
}
